<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<section class="container">

    <div th:replace="header :: header-before-login">
    </div>

    <section id="main-content">
        <div class="row">
            <h1 class="text-center mr-auto ml-auto">Trading App</h1>
        </div>
        <div class="links d-flex justify-content-center mt-5">
            <div class="row w-50">
                <div class="d-flex w-100 flex-row justify-content-around mb-2">
                    <h3 class="w-50">New User</h3> <a class="btn btn-primary align-middle w-50" th:href="@{/signup}">Sign Up</a>
                </div>
                <div class="d-flex w-100 flex-row justify-content-around mb-2">
                    <h3 class="w-50">Existing User</h3> <a class="btn btn-primary align-middle w-50" th:href="@{/login}">Login</a>
                </div>
            </div>
        </div>

    </section>
</section>
</body>
</html>