<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<section class="container">
    <div th:replace="header :: header-before-login">
    </div>

    <section id="main-content">
        <div class="row">
            <h1 class="text-center mr-auto ml-auto">Sign Up</h1>
        </div>
        <div class="links d-flex justify-content-center mt-5">
            <span th:text="${error}"></span>
            <form class="form border border-dark p-5" th:action="@{/signup}" th:object="${user}" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" th:field="*{username}" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" th:field="*{email}" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" th:field="*{password}" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <input type="submit" value="Sign Up" class="form-control btn btn-primary">
                </div>
            </form>
        </div>
    </section>

</section>
</body>
</html>